## FOLDER IGNORES ##
node_modules
vendor

## DOT FILE IGNORES ##
.env
.DS_Store

## SASS IGNORES ##
.sass-cache
*.css.map

## MISC IGNORES ##
*.bak
TODO.md
.php_cs.cache
.php-cs-fixer.cache

## IDE IGNORES ##
_ide_helper.php
.phpstorm.meta.php
.idea/
*.swo
*.swp
*.vi
